<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet" />
        <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <header>
        <div class="top-header">
            <div class="flex-container">
                <div class="logo"> 
                <img src="/imagenes/logo-mercado-liebre.svg">
                </div>
    </header>

    <form method="POST" action="/">
        <p>Registro de usuario</p>
        <div>
        <label for="fullName">Nombre y Apellido</label>
        <input type="text" name="fullName" id="fullName">
        </div>

        <div>
        <label for="userName">Nombre de usuario</label>
        <input type="text" name="userName" id="userName">
        </div>

        <div>
        <label for="birthDate">Fecha de Nacimiento</label>
        <input type="date" name="birthDate" id="birthDate">
        </div>

        <div>
        <label for="address">Domicilio</label>
        <input type="text" name="address" id="address">
        </div>

        <div>
        <p>Elija tipo de usuario</p>
        <label> Comprador <input type="radio" name="userType" value="buyer"></label>
        <label> Vendedor <input type="radio" name="userType" value="seller"></label>
        </div>

        <div>
        <p>Categorías de interés</p>
        <label> Electro <input type="checkbox" name="categories" value="electro"></label>
        <label> Moda <input type="checkbox" name="categories" value="moda"></label>
        <label> Hogar <input type="checkbox" name="categories" value="hogar"></label>
        <label> Juguetería <input type="checkbox" name="categories" value="juguetería"></label>
        <label> Vida Sana <input type="checkbox" name="categories" value="vida sana"></label>

        </div>

        <div>
        <label for="profilePhoto">Foto de usuario</label>
        <input type="file" accept=".jpg, .png, .jpeg" name="profilePhoto" id="profilePhoto">
        </div>

        <div>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password">
        </div>

        <div>
        <label for="confirmPassword">Confirmar contraseña</label>
        <input type="password" name="confirmPassword" id="confirmPassword">
        </div>

        <div>
        <button type="submit">Enviar</button>
        <button type="reset">Limpiar formulario</button>
        </div>
